<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form method="post" action="/save">

     <label for="title">Title</label>
     <input id="title" name="title"/>
     <br/>
     <label for="description">Desc</label>
     <input id="description" name="description"/>
     <br/>

     <label for="priority">priority</label>
     <input id="priority" name="priority"/>
     <br/>

     <label for="dueDate">duedate</label>
     <input id="dueDate" name="dueDate"/>
     <br/>

     <label for="isFinished">isFinished</label>
     <input id="isFinished" name="isFinished"/>

     <button>Submit</button>
 </form>

</body>
</html>