body {
    min-width: 320px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

main {
    padding: 0.5rem;
}

.title {
    padding-left: 1rem;
}

#setting {
    text-align: center;
}

/* start of light theme */

.light #page-header{
  background-color: #FFFFA5;
}

.light .notes {
  border-color: orangered;
}

/* end of light theme */

/* dark theme */

.dark h1{
  color: white;
  background-color: #3a3a44;
}

.dark .notes{
  border-color: black;
}

/* enf of dark them */

/* start of buttons*/

#orderSettings{
  text-align: center;
}

.editButton {
    float: right;
}

#actionButton {
    text-align: center;
}

/* end of buttons*/

/* show notes */

#settingOptions {
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
  padding: 1%;
  border-radius: 10px;
  margin: 2px;
}

.notes{
  align-content: center;
  float: left;
  border: solid;
  margin: 1%;
  width: 98%;
  padding: 1%;
  border-radius: 10px;
  background-color: #FFFFA5;
}

#dueTime {
  display: block;
  padding-bottom: 0.6%;
}

/* end of show notes*/

/* start of MEDIA QUERIES */

    #orderSettings {
        flex-direction: column;
        margin: 5%;
    }

    .notes{
        width: 90%;
    }

    #setting {
        display: inline-block;
        justify-content: center;

    }

@media screen and (min-width: 321px) and (max-width: 480px){
    #orderSettings {
        margin: 10%;
    }

    #createNote {
        display: inline-flex;
    }
}

@media screen, print and (min-width: 481px) and (max-width: 800px){
    #settingOptions {
        display: inline-block;
    }
}

/* end of MEDIA QUERIES*/












/* create/edit note */
.input-row {
    margin: 1rem 0;
}

.form-button-holder {
    text-align: center;
}

/* End of create/edit notes */

/***************************************
* screen size from 720px
*/
@media (min-width: 720px) {

    /* create/edit note */
    .input-row {
        overflow: hidden;
    }

    .input-row .control-label {
        float: left;
        width: 20%;
        text-align: right;
        padding-top: 0.7rem;
        padding-right: 1.5rem;
    }

    .input-row .form-control {
        display: inline-block;
        width: 80%;
    }

    .no-label {
        margin-left: 20%;
    }
}