body {
  min-width: 320px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* light theme */


/* end of light theme */

/* dark theme */

/* enf of dark them */
.light h1{
  background-color: #FFFFA5;
}

.dark h1{
  background-color: #3a3a44;
}

.dark h1{
  color: white;
}

#settingOptions {
  display: flex;
}

/* show notes */
#settingOptions {
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.notes{
  align-content: center;
  float: left;
  border: solid;
  margin: 2px;
  border-radius: 10px;
}

.light .notes {
  border-color: orangered;
}

.dark .notes{
  border-color: black;
}

.notes {

}

/* end of show notes*/

/* create/edit note */